#sendMessageBtn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

#sendMessageBtn:hover{
    cursor: pointer;
    opacity: 50%;
}